INVOICE_SMTP_HOST=mail.unitedlinksecurity.com
INVOICE_SMTP_PORT=465
INVOICE_SMTP_SECURE=true
INVOICE_SMTP_USER=invoice@unitedlinksecurity.com
INVOICE_SMTP_PASS=
INVOICE_SMTP_AUTH_METHOD=
INVOICE_SMTP_TLS_REJECT_UNAUTHORIZED=true

INVOICE_FROM=United Link Security <invoice@unitedlinksecurity.com>
INVOICE_REPLY_TO=invoice@unitedlinksecurity.com
INVOICE_CC=invoice@unitedlinksecurity.com

INVOICE_GROUP_NAME=United Link Group
INVOICE_MARK=UN
INVOICE_SERVICE_LABEL=Security Services
