AWS_REGION=
AWS_S3_BUCKET=
UPLOADS_PROVIDER=s3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

INVOICE_SMTP_HOST=
INVOICE_SMTP_PORT=465
INVOICE_SMTP_SECURE=true
INVOICE_SMTP_USER=
INVOICE_SMTP_PASS=
INVOICE_SMTP_AUTH_METHOD=
INVOICE_SMTP_TLS_REJECT_UNAUTHORIZED=true

INVOICE_FROM=
INVOICE_REPLY_TO=
INVOICE_CC=invoice@unitedlinksecurity.com

INVOICE_GROUP_NAME=United Link Group
INVOICE_MARK=UN
INVOICE_SERVICE_LABEL=Security Services

EMAIL_SMTP_HOST=
EMAIL_SMTP_PORT=465
EMAIL_SMTP_SECURE=true
EMAIL_SMTP_USER=
EMAIL_SMTP_PASS=
EMAIL_SMTP_AUTH_METHOD=
EMAIL_SMTP_TLS_REJECT_UNAUTHORIZED=true

EMAIL_FROM=
EMAIL_REPLY_TO=
EMAIL_CC=
